body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  cursor: pointer;
}

$primary: #0f7014;

.tester {
  margin-bottom: 0.5rem;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./video.scss";
@import "./greeting.scss";
@import "./carousel.scss";
@import "./cards.scss";
@import "./about.scss";
@import "./projects.scss";
